/* *{
  border: 1px solid black;
  margin: 0;
} */
body {
  cursor: url("images/pngwing.com.png"), pointer;
}

a:hover {
  cursor: url("images/pngwing.com.png"), pointer;
}

span:hover {
  cursor: url("images/pngwing.com.png"), pointer;
}

main {
  padding-top: 100px;
  background-color: rgb(0, 0, 0);
}

h3 {
  font-family: helvetica;
}

.container {
  max-height: 200px;
}

#logo-left {
  margin-left: 0;
  margin-right: auto;
  max-width: 150px;
  height: 115px;
}

#logo-right {
  margin-left: auto;
  margin-right: 0;
  max-width: 150px;
  height: 115px;
}

.header {
  display: flex;
  flex-direction: column;
  height: 120px;
  border-bottom: 3px solid black;
  box-shadow: 0 5px 2px -2px gray;
  color: white;
  background-color: black;
  position: fixed;
  right: 0;
  left: 0;
  z-index: 999;
}

.my-header {
  display: flex;
  flex-direction: row;
}

.name {
  display: flex;
  flex-direction: row;
  width: 50vw;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 30px; */
}

.navbar {
  background-color: black;
}

.title {
  text-align: center;
  font-size: .5rem;
  margin-left: auto;
  margin-right: auto;
  font-family: helvetica;
  height: 100px;
  padding: 10px;
}

#booknow {
  margin-top: 50px;
}

.booknow {
  border-left: 10px solid rgb(52, 58, 64);
  border-right: 10px solid rgb(52, 58, 64);
  border-bottom: 5px solid rgb(52, 58, 64);
  padding-bottom: 50px;
}

.booknow p {
  color: white;
  font-size: 21px;
}
.carousel-item p {
  font-size: 21px;
}
.section1 {
  display: flex;
  flex-direction: column;
}

.about-us {
  color: white;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  text-align: center;
  padding: 10px;
  border: 5px solid rgb(52, 58, 64);
  border-left: 10px solid rgb(52, 58, 64);
  border-right: 10px solid rgb(52, 58, 64);
}

.about-us p {
  font-size: 21px;
  padding: 15px
}

.Gallery {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  text-align: center;
  padding: 10px;
  border: 5px solid rgb(52, 58, 64);
  border-left: 10px solid rgb(52, 58, 64);
  border-right: 10px solid rgb(52, 58, 64);
  background-color: black;
  color: white;
}

.carousel-inner .carousel-item img {
  min-height: 400px;
  //prevent it from stretch in screen size < than 768px
  object-fit: cover
}

@media(max-width:1090px) {
  .carousel .carousel-inner {
    //prevent it from adding a white space between carousel and container elements
    height: auto
  }
}



.stores {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  text-align: center;
  padding: 10px;
  border: 5px solid rgb(52, 58, 64);
  border-right: 10px solid rgb(52, 58, 64);
  border-left: 10px solid rgb(52, 58, 64);
  background-color: black;
  color: white;
}

.locations-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.location .card-img-top {
  height: 60vh;
}

.location {
  margin-bottom: 20px;
}

.Stylists {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
  text-align: center;
  padding: 10px;
  border: 5px solid rgb(52, 58, 64);
  border-right: 10px solid rgb(52, 58, 64);
  border-left: 10px solid rgb(52, 58, 64);
  background-color: black;
  color: white;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  background-color: black;
  border: 3px solid rgb(52, 58, 64);
  min-width: 280px;
  width: 25%;
  border-radius: 15px;
  box-shadow: 5px 5px 2px -2px white;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
}

.price-list {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  padding: 10px;
  border: 5px solid rgb(52, 58, 64);
  border-right: 10px solid rgb(52, 58, 64);
  border-left: 10px solid rgb(52, 58, 64);
  border-bottom: 5px solid rgb(52, 58, 64);
  background-color: black;
  color: white;
}

.details {
  width: 50%;
}

main {
  padding-top: 160px;
}

.title h1 {
  font-weight: bolder;
  margin-top: 15px;
  font-size: 3em;
}

.title h3 {
  font-size: 2em;
}

.carousel-inner img {
  width: 100%;
  height: 100%;
}

.contact-us {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  text-align: center;
  padding: 10px;
  border: 5px solid rgb(52, 58, 64);
  border-left: 10px solid rgb(52, 58, 64);
  border-right: 10px solid rgb(52, 58, 64);
  background-color: black;
  color: white;
}

.address-container {
  margin-top: 50px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.address {
  width: 50%;
}

footer {
  height: 50px;
  width: 100%;
  background-color: rgb(52, 58, 64);
  line-height: 50px;
}

footer p {
  color: white;
  text-align: right;
  margin-right: 10px;
  margin-bottom: 0;
}

@media screen and (max-width: 500px) {
  .nomobile {
    display: none;
  }

  #logo-left {
    margin-right: 0;
  }
}

@media (min-width: 1090px) {
  .section1 {
    display: flex;
    flex-direction: row;
  }

  .about-us {
    width: 50%;
    border-right: 10px solid rgb(52, 58, 64);
  }

  .Gallery {
    width: 50%;
    max-height: 90vh;
  }

  .carousel .carousel-inner {
    height: 500px
  }

  .price-list {
    width: 50%;
  }

  .contact-us {
    width: 50%;
  }
}
